body {
    font-family: 'Papyrus', cursive;
    margin: 0;
    font-size: 16px;
}

html {
    box-sizing: border-box;
    background-image: url("../Images/paper.jpg");
}

*, *::before, *::after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3333%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card{
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.5);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: rgba(247, 191, 144, 0.3);
    color: #623107;
    font-family: 'Tangerine', cursive;
    font-size: 2em;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: #623107;
}

@media only screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.footer{
    padding: 20px;
    text-align: center;
}

#historia {
    margin-bottom: 25px;
}

.photos {
    max-width: 100%;
    max-height: 100%;
}

.credits {
    font-weight: bolder;
}

.topNav {
    overflow: hidden;
    background-color: #323232;
    z-index: 10;
}

.topNav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.topNav a.righ {
    float: left;
}

.topNav a:hover {
    background-color: #795548;
    color: #ff5722;
}

.topNav #home {
    background-color: darkgray;
    
}

.topNav #home:hover{
    background-color: #838383;
    color: black
}

.topNav #about{
    float: right;

}

.topNav #about:hover{
    background-color: #663399;
    color: aqua;
}