html{
    background-image: url(../Images/paper.jpg);
    font-family: 'Papyrus', cursive;
}

.topNav {
    overflow: hidden;
    background-color: #323232;
}

.topNav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.topNav a.righ {
    float: left;
}

.topNav a:hover {
    background-color: #795548;
    color: #ff5722;
}

.topNav #home {
    background-color: darkgray;
    
}

.topNav #home:hover{
    background-color: #838383;
    color: black
}

.topNav #about{
    float: right;

}

.topNav #about:hover{
    background-color: #663399;
    color: aqua;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 15%;
    padding: 20px;

}

.main {
    flex: 70%;
    padding: 20px;
}

@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
}

@media screen and (max-width: 400px){
    .topNav a{
        float: none;
        width: 100%;
    }
}

.footer{
    padding: 20px;
    text-align: center;
}